.blink_me {
    animation: blinker 1s step-start infinite;
   font-size: 350%;
}
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .color{
      background-color: gray;

  }
  body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: lightskyblue;
  }
  
  table, th, td {
    border: 2px solid black;
  }
  .red{
      background-color: green;
  }
  